*{
    margin: 0;
}
body{
    font-family: lato;
}
header{
    display: flex;
    justify-content: space-between;
    background: #FCEEF1;
}
.moto{
    padding: 10% 0% 0% 10%;
}
#header-moto{
    font-size: 54px;
    font-weight: 800;
}
.moto-description{
    font-size: 13px;
    color: #7B7B7B;
    margin-top: 5%;
}
.shop-button{
    border: 0;
    background: #E55473;
    color: #FFFFFF;
    font-size: 15px;
    padding: 3% 6%;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
}
#flower-pic{
    width: 32%;
    padding: 3% 15% 0% 0%;
}
.featured-container{
    padding-top: 10%;
}
.featured-title, .social-title, .subscribe-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 10% 0% 1%;
}
.featured-description{
    text-align: center;
    font-size: 13px;
    color: #7b7b7b;
}
.flower-details{
    display: flex;
    justify-content: space-evenly;
    padding: 3% 13%;
}
.flower-1{
    background: #F2DEE7;
    width: 300px;
    height: 338px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.flower-2{
    background: #DAEFF1;
    width: 300px;
    height: 338px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.flower-3{
    background: #E3ECDB;
    width: 300px;
    height: 338px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#flower-pic-1{
    width: 62%;
    margin-top: 27%;
    margin-left: 18%;
}
#flower-pic-2{
    width: 70%;
    margin: 30% 0% 13% 15%;
}
#flower-pic-3{
    width: 63%;
    margin-top: 18%;
    margin-left: 20%;
}
.flower-name{
    margin: 5% auto;
    font-weight: 600;
    border-bottom: 2px solid;
    width: 41%;
}
.delivery-container{
    padding: 10% 20%;
}
.delivery-features{
    display: flex;
    justify-content: space-evenly;
    background: #F4F4F4;
}
.features-1{
    text-align: center;
    color: #272727;
    padding: 5% 0%;
}
.sale-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 12%;
}
.sale-deal{
    text-align: center;
}
#sale-flower{
    width: 22%;
}
.sale-title{
    font-size: 25px;
    font-weight: 800;
}
.sale-off{
    color: #E55473;
}
#sale-description{
    color: #7B7B7B;
    font-size: 13px;
    padding-top: 2%;
}
.social-images{
    display: flex;
    justify-content: space-evenly;
    padding: 3% 13%;
}
.social-image{
    width: 23%;
}
.subscribe{
    padding: 4% 14% 6%;
}
.form{
    background-image: url('../Flower-Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 2% 10% 8%;
    border-radius: 5px;
}
input[type=email]{
    border: 0;
    padding: 2% 51% 2% 2%;
    border-radius: 3px;
}
#subscribe-form{
    padding: 4% 14%;
}
.subscribe-button{
    border: 0;
    background: #E55473;
    color: #FFFFFF;
    font-size: 15px;
    padding: 2% 4%;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background: #000000;
    padding: 6% 0;
}
.footer-title{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 1%;
}
.footer-description{
    text-align: center;
    color: #FFF;
    font-size: 12px;
}
.footer-rights{
    text-align: center;
    color: #BFBFBF;
    font-size: 10px;
    padding-top: 1%;
}